<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="JsonFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\\Projects\\todo\\Todo\\API\\logs\\" />
    <datePattern value="dd.MM.yyyy'.json'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json">
      <conversionPattern value="%d - %message%newline" />
    </layout>
  </appender>
  <appender name="SqlServerAppender" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=DESKTOP-LP4PKBU\SQLEXPRESS;Initial Catalog=todoapp;Integrated Security=true;" />
    <commandText value="INSERT INTO dbo.logs ([id],[detail],[date],[audit]) VALUES (@id,@log_detail,@log_date,@audit)" />
    <parameter>
      <parameterName value="@log_detail" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json" />
    </parameter>
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@audit" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout" value="%level" />
    </parameter>
    <parameter>
      <parameterName value="@id" />
      <dbType value="Guid" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="Id" />
      </layout>
    </parameter>
  </appender>
  <logger name="JsonFileLogger">
    <level value="ALL" />
    <appender-ref ref="JsonFileAppender" />
  </logger>
  <logger name="DatabaseLogger">
    <level value="All" />
    <appender-ref ref="SqlServerAppender" />
  </logger>
</log4net>